<!DOCTYPE html>
<html lang="en">
<head>
	<title>Weerapat</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/weerapat.css">
    
    
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    
    <link rel="stylesheet" href=../css/weerapat.css>
    
    <script src="https://use.fontawesome.com/912fef712a.js"></script>
    
</head>
<body>